h1 {
    color: rgb(153, 156, 104);
  }

body {
    background-color: rgb(26, 26, 26);
    color: rgb(153, 156, 104);
  }
  
a:link{
  text-decoration: none;
  color: blanchedalmond;
}

a:visited{
  text-decoration: none;
  color: bisque;
}

nav ul li {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  padding-block: 5%;
  padding-inline: 10%;
}

img{
  size: 40%;
  justify-content: space-around;
  padding: 5%;
}